:root {
    --contact-color: rgba(255, 255, 255, 0.6);
    --brand-color: rgb(33, 150, 243);
    --border-bottom-header-color: #ECECEC;
    --fon-social-icon-color: #44454E;
    --border-white-color: #EEEEEE;    
    --social-icon-color: #AFB1B8;    
    --light-gray-color: #F5F4FA;    
    --fon-black-color: #2F303A;
    --black-color: #212121;
    --white-color: #FFFFFF;
    --gray-color: #757575;
}
body {
    font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    max-width: 100%;
    height: auto;
    display: block;    
}
* {
    box-sizing: border-box;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logotype-color-text {
    color: var(--brand-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;    
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 400ms linear, visibility 400ms linear;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal-wrapper {
    transform: translate(-50% -50%) rotate(-360deg);
    border-radius: 50%;
}
.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%) rotate(0);
    transition: transform 400ms linear, border-radius 400ms linear;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--services-border-modal-color-1);
    background-color: transparent;
}
    .modal-button-close:hover {
        border: 1px solid var(--brand-color);
        fill: var(--brand-color);
    }
.modal-wrapper-block {
    padding-left: 40px;
    padding-right: 40px;
}
.modal-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.modal-field {
    margin-bottom: 10px;
}
    .modal-field:nth-child(3) {
        display: flex;
        align-items: center;
    }
.modal-input-label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--gray-color);
}
.modal-input-label span, .modal-input-label {
    display: block;
}
.modal-input-wrap {
    position: relative;
    margin-top: 4px;
}
    .modal-input-wrap:focus > .modal-input-icon {
        fill: var(--brand-color);
    }
.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}
    .modal-input::placeholder, .modal-textarea-text::placeholder {
        color: var(--black-color);
    }
    .modal-input:not(:focus):not(:placeholder-shown):valid {
        background-color: rgba(0, 128, 0, 0.373);
    }
    .modal-input:not(:focus):not(:placeholder-shown):invalid {
        background-color: rgba(128, 32, 0, 0.373);
    }
    .modal-input:focus, .modal-textarea-text:focus {
        border-color: var(--brand-color);
    }
.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.modal-textarea-text {
    width: 100%;
    height: 96px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.modal-text {
    color: var(--brand-color);
}
.modal-button {
    width: 200px;
    height: 50px;
    margin: 30px auto 0;
    padding: 10px 52px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--white-color);
}
.header {
    border-bottom: 1px solid var(--border-bottom-header-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-connect {
    margin-left: auto;
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-item {
    position: relative;
}
.header-block {
    position: relative;
}
.header-logotype {
    margin-right: 93px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.header-menu-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: var(--black-color);
}
    .header-menu-link:hover, .header-menu-link:focus {
        transform: scale(0.98);
        color: var(--brand-color);
    }
.header-contact-menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}
    [id*="index"]::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--brand-color);
    }
    [id*="portfolio"]::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--brand-color);
    }
.header-contact-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: var(--gray-color);
}
    .header-contact-menu-link:hover .header-contact-menu {
        transform: scale(0.98);
        color: var(--brand-color);
    }
    .header-contact-menu-link:focus .header-contact-menu {
        transform: scale(0.98);
        color: var(--brand-color);
    }
.header-contact-icon {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    fill: var(--gray-color);
}
    .header-contact-menu-link:hover .header-contact-icon {
        transform: scale(0.98);
        fill: var(--brand-color);
    }
    .header-contact-menu-link:focus .header-contact-icon {
        transform: scale(0.98);
        fill: var(--brand-color);
    }
.services {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictare-fon.jpg);
}
.services-title {
    max-width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;    
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}
.services-btn {
    width: 216px;
    height: 50px;
    margin: 30px auto 0;    
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
}
    .services-btn:focus {
        border: 1px solid blue;
    }
.description-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.description-item {
    width: auto;
}
.description-block {
    padding: 30px 15px;
}
.description-block-image {
    border-radius: 4px;
    background-color: var(--light-gray-color);
}
.description-block-image {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}
.description-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
.gallery {
    padding-top: 0;
}
.gallery-title {
    margin-bottom: 50px;
    color: var(--black-color);
}
.gallery-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    width: 370px;
}
.gallery-item::before {
    position: absolute;
    content: attr(data-sale);
    left: 0;
    top: 224px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
}
.team {
    background: var(--light-gray-color);
}
.team-title {
    margin-bottom: 50px;
    color: var(--black-color);
}
.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.team-item {
    width: 270px;
    background-color: var(--white-color);
}
.team-article-block {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.team-list-profesion {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
.team-social-list {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-social-item {
    width: 44px;
    height: 44px;
}
.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--social-icon-color);
    border-radius: 50%;
}
    .team-social-link:hover, .team-social-link:focus {
        transform: scale(1.15);
        background-color: var(--brand-color);
    }
    .team-social-link:hover .team-social-icon {
        fill: var(--white-color);
    }
    .team-social-link:focus {
        fill: var(--white-color);
    }
.group-title {
    margin-bottom: 50px;
    color: var(--black-color);
}
.group-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.group-item {
    width: 170px;
    height: 92px;
}
.group-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    border: 1px solid var(--social-icon-color);
    fill: var(--social-icon-color);
    border-radius: 4px;
}
    .group-link:hover, .group-link:focus {
        transform: scale(0.95);
        border-color: var(--brand-color);
    }
    .group-link:hover .group-social-icon {
        fill: var(--brand-color);
    }
    .group-link:focus .group-social-icon {
        fill: var(--brand-color);
    }
.group-social-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: row;
}
.button-menu {
    width: auto;
    height: 38px;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
                transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    border-radius: 4px;
    border: 1px solid var(--light-gray-color);
    background-color: var(--light-gray-color);
    color: var(--black-color);
}
    .button-menu:hover, .button-menu:focus {
        transform: scale(1.08);
        border: 1px solid var(--brand-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--brand-color);
        color: var(--white-color);
    }
.product-list {
    display: flex;
    align-content: center;    
    justify-content: center;
    grid-gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}
.product-item {
    width: 370px;
}
.product-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    border-left: 1px solid var(--border-white-color);
    border-right: 1px solid var(--border-white-color);
    border-bottom: 1px solid var(--border-white-color);
}
    .product-link:hover, .product-link:focus {
        transform: scale(1.05);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
.product-block-overlay {
    position: relative;
    overflow: hidden;
}
    .product-block-overlay:hover .product-overlay {
        transform: translateY(0);
    }
.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    opacity: 0.8;
    transform: translateY(100%);
    transition: transform 300ms linear;
    border: 2px solid var(--brand-color);
    background-color: var(--brand-color);
}
.product-overlay > .product-overlay-text {
    margin: 0;
    padding: 63px 24px;    
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);    
}
.product-block {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}
.product-list-tovar {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
}
.product-list-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--fon-black-color);
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-address {
    align-items: baseline;
}
.footer-logotype {
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-item {
    margin-bottom: 9px;
}
    .footer-item:nth-child(3) {
        margin-bottom: 0;
    }
.footer-address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
    color: var(--white-color);
}
.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
    color: var(--contact-color);
}
    .footer-address-link:hover, .footer-contact-link:hover, .footer-address-link:focus, .footer-contact-link:focus {
        color: var(--brand-color);
    }
.footer-block {
    margin-left: 70px;
    align-items: baseline;
}
.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-social-item {
    width: 44px;
    height: 44px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    background-color: var(--fon-social-icon-color);
    fill: var(--white-color);
    border-radius: 50%;
}
    .footer-social-link:hover, .footer-social-link:focus {
        transform: scale(1.15);
        background-color: var(--brand-color);
    }
    .footer-social-link:hover .footer-social-icon {
        fill: var(--white-color);
    }
    .footer-social-link:focus {
        fill: var(--white-color);
    }
.footer-form {
    margin-left: 93px;
}
.footer-email {
    padding-left: 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--footer-border-contact-color);
    background-color: var(--footer-fon-black-color);
    color: var(--footer-contact-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--main-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--main-brand-color);
    color: var(--white-color);
}
.footer-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    align-items: center;
}
.footer-icon-telegram {
    vertical-align: middle;
}